
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    width: 400px;
    height: 150px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    box-shadow: 5px 5px 10px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

article i{
    align-self: flex-start;
    font-size: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
    filter: opacity(0.5);
}

article p{
    text-align: center;
    font-size: 12px;
    width: 75%;
}

article small{
    align-self: flex-end;
    font-size: 12px;
}

article button{
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
